<div class="sidebar__container" [ngClass]="{ visible: !isSidebarVisible }">
  <ul>
    <li
      routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="sectionClicked()"
    >
      Home
    </li>

    <li
      routerLink="countries/by-capital"
      routerLinkActive="active"
      (click)="sectionClicked()"
    >
      By Capital
    </li>

    <li
      routerLink="countries/by-country"
      routerLinkActive="active"
      (click)="sectionClicked()"
    >
      By Country
    </li>

    <li
      routerLink="countries/by-region"
      routerLinkActive="active"
      (click)="sectionClicked()"
    >
      By Continent
    </li>
  </ul>
</div>
