.sidebar {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: #001C30;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 5;
}


.sidebar.visible {
  transform: translateX(0);
}

.no-scroll {
  overflow: hidden;
  position: fixed;
}
