.sidebar__container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(6, 143, 255, 0.99);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 5;
}

.sidebar__container.visible {
  transform: translateX(0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin: 20px 0;
  padding: 15px;
  overflow: hidden;
  text-align: center;
  color: #000000;
  font-size: large;
  border-image: linear-gradient(to right, #068fff, #4e4feb) 1;
}

li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #068fff, #4e4feb);
  transition: all 1s ease-out;
}

li:hover::after {
  left: 100%;
}

li:hover {
  color: white;
}
