.sidebar__container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--primary-color);
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
  z-index: 5;
}

.sidebar__container.visible {
  transform: translateX(0);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  margin: 20px 0;
  padding: 15px;
  overflow: hidden;
  text-align: center;
  color: var(--text-color);
  font-size: large;
  transition: color 0.3s ease-in-out;
}

li:hover::after {
  left: 100%;
}

li:hover {
  color: white;
}
