<div class="row">
  <h1>Country App</h1>
  <hr />
  <div class="img-container">
    <img src="./../../../../assets/img/globalFlags.png" alt="" />
  </div>
  <hr />

  <h3 class="mb-3">
    An application to find information from any country in the world!
  </h3>
  <p class="mb-3">
    Discover the world in the palm of your hand with our app, the global compass
    for the curious. Browse through three sections: search by country, capital
    or region and discover fascinating facts. See the flags, learn about the
    population and dive into unique details, such as the translation of the
    country's name in several languages. A must-have tool for knowledge
    explorers, students or travelers. Explore, learn and be amazed by our galaxy
    of geographic data!
  </p>
</div>
