<h1 class="pt-3 pb-4">Country App</h1>
<hr>
<img src="./../../../../assets/img/globalFlags.webp" alt="">
<hr>

<h3 class="mb-3">¡Una aplicación para encontrar información del cualquier país del mundo!</h3>
<p class="mb-3">Descubre el mundo en la palma de tu mano con nuestra aplicación, la brújula global para curiosos. Navega por tres secciones: busca por país, capital o región y descubre datos fascinantes.
   Observa las banderas, conoce la población y sumérgete en detalles únicos, como la traducción del nombre del país en varios idiomas. Una herramienta imprescindible para exploradores del
   conocimiento, estudiantes o viajeros. ¡Explora, aprende y sorpréndete con nuestra galaxia de datos geográficos!</p>
