<ng-template #loading>
  <div class="alert alert-info text-center">Espere por favor</div>
</ng-template>

<div class="country-page__container" *ngIf="country; else loading">
  <div class="country-page__name-container">
    <h2>
      <strong>{{ country[0].name.common }}</strong>
    </h2>
  </div>

  <div class="country-page__img-container">
    <img
      [src]="country[0].flags.svg"
      [alt]="country[0].name.common"
      class="img-thumbnail"
    />
  </div>
  <div class="country-page__info-container">
    <h3>Información</h3>
    <ul class="country-page__list">
      <li class="country-page__item">
        <span class="country-page__item-title">Población: </span>
        <span class="country-page__item-value"
          >{{ country[0].population | number }}
        </span>
      </li>
      <li class="list-group-item">
        <span class="country-page__item-title">Capital: </span>
        <span class="country-page__item-value">{{ country[0].capital }} </span>
      </li>
      <li class="list-group-item">
        <span class="country-page__item-title">Código: </span>
        <span class="country-page__item-value">{{ country[0].cca3 }} </span>
      </li>
      <li class="list-group-item">
        <a
          class="country-page__item-maps-link"
          [href]="country[0].maps.googleMaps"
          target="_blank"
        >
          <span>Ver en Google Maps..</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="country-page__map-container">
    <h3 class="country-page__map-title">Mapa</h3>
    <app-country-map
      [lat]="country[0].latlng[0]"
      [lng]="country[0].latlng[1]"
    ></app-country-map>
  </div>

  <div class="country-page__translations-container">
    <h3>Traducciones</h3>
    <div class="country-page__translations-wrapper">
      <span class="badge bg-primary m-1">{{
        country[0].translations["ara"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["bre"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["ces"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["cym"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["deu"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["est"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["fin"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["ita"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["kor"].common
      }}</span>
      <span class="badge bg-primary m-1">{{
        country[0].translations["per"].common
      }}</span>
    </div>
  </div>
</div>
