.cards_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.cards_card {
  box-sizing: border-box;
  width: 8rem;
  height: 5rem;
  background-color: var(--secondary-color);
  border: 3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.1s;
  transform-style: preserve-3d;
  text-decoration: none;
}

.cards_img {
  top: 0;
  left: 0;
  width: 100%;
  height: 4.7rem;
}

.cards_img img {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (min-width: 765px) {
  .cards_card {
    box-sizing: border-box;
    width: 8rem;
    height: 12rem;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .cards_img {
    height: 6rem;
  }

  .cards_infoBox {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
  }

  .cards_infoBox ul {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.1rem;
  }

  .cards_infoBox_titles {
    font-weight: bold;
    font-size: x-small;
    color: var(--text-color);
  }

  .cards_infoBox_value {
    font-size: x-small;
    color: var(--text-color);
  }
}

@media (min-width: 1024px) {
  .cards_card {
    box-sizing: border-box;
    width: 14rem;
    height: 16rem;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .cards_img {
    height: 8rem;
  }

  .cards_infoBox ul {
    gap: 0.5rem;
  }

  .cards_infoBox_titles {
    font-size: medium;
  }

  .cards_infoBox_value {
    font-size: medium;
  }
}
