<div class="cards_container">
  <a
    [routerLink]="['/countries/by', country.cca3]"
    class="cards_card"
    *ngFor="let country of countries"
    #card
  >
    <div class="cards_img">
      <img [src]="country.flags.svg" [alt]="country.name.common" />
    </div>
    <!--     <div class="cards_infoBox">
      <ul>
        <li>
          <span class="cards_infoBox_titles">Nombre: </span>
          <span class="cards_infoBox_value">{{ country.name.common }}</span>
        </li>
        <li>
          <span class="cards_infoBox_titles">Capital: </span>
          <span class="cards_infoBox_value">{{ country.capital }}</span>
        </li>
        <li>
          <span class="cards_infoBox_titles">Población: </span>
          <span class="cards_infoBox_value">{{
            country.population | number
          }}</span>
        </li>
      </ul>
    </div> -->
  </a>
</div>
