<div class="cards_container">
  <div
    *ngIf="countries.length === 0; else cards"
    class="alert alert-warning text-center"
  >
    <p class="mb-2">No hay países que mostrar.</p>
    <p>El nombre del país o capital debe buscarse en Inglés.</p>
  </div>
  <ng-template #cards>
    <a
      [routerLink]="['/countries/by', country.cca3]"
      class="cards_card"
      *ngFor="let country of countries"
      #card
    >
      <div class="cards_img">
        <img [src]="country.flags.svg" [alt]="country.name.common" />
      </div>
      <div *ngIf="isLargeScreen" class="cards_infoBox">
        <ul>
          <li>
            <span class="cards_infoBox_titles">Nombre: </span>
            <span class="cards_infoBox_value">{{ country.name.common }}</span>
          </li>
          <li>
            <span class="cards_infoBox_titles">Capital: </span>
            <span class="cards_infoBox_value">{{ country.capital }}</span>
          </li>
          <li>
            <span class="cards_infoBox_titles">Población: </span>
            <span class="cards_infoBox_value">{{
              country.population | number
            }}</span>
          </li>
        </ul>
      </div>
    </a>
  </ng-template>
</div>
