<!-- by-region-page.component.html -->
<div class="region-section__container">
  <div class="region-title-toggle__container">
    <h2>By Continent</h2>
    <app-switch-button></app-switch-button>
  </div>
  <hr />

  <div class="region-buttons__container">
    <button
      class="btn mx-2"
      *ngFor="let region of regions"
      (click)="searchByRegion(region)"
    >
      {{ region }}
    </button>
  </div>
  <div class="region-content__container">
    <hr />
    <ng-container *ngIf="isSwitchToggled; else showTable">
      <countries-table [countries]="countries"></countries-table>
    </ng-container>
    <ng-template #showTable>
      <country-cards [countries]="countries"></country-cards>
    </ng-template>
  </div>
</div>
