.navbar {
  position: fixed; /* Fija la navbar para que siempre esté visible */
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  z-index: 10; /* Asegúrate de que el z-index sea alto */
  background-color: var(--primary-color);
  transition: height 0.3s ease;

  &.navbar--scrolled {
    height: 3rem;
    opacity: 0.95;
  }

  &:hover {
    height: 5rem;
    opacity: 1;
  }

  &:hover .logo-container img {
    width: 5rem;
  }

  &:hover .logo-container .navbar__title {
    font-size: 2rem;
  }

  &:hover .navbar__list {
    gap: 3rem !important;
  }

  &:hover .navbar__list .navbar__item Button {
    font-weight: bold !important;
  }

  .logo-container {
    height: 100%;
    width: 4rem;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: width 0.3s ease;

    img {
      width: 100%;
      height: 100%;
      transition: width 0.3s ease;
    }

    .navbar__title {
      font-size: 2rem;
      white-space: nowrap;
      transition: font-size 0.3s ease;
    }

    .navbar_title--scrolled {
      font-size: 1rem;
    }
  }

  .navbar__list {
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    transition: gap 0.3s ease;

    &.navbar__list--scrolled {
      gap: 1rem;
    }

    .navbar__item {
      padding: 0;
      cursor: pointer;
      font-size: large;

      button {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        cursor: pointer;
        color: inherit;
        text-transform: none;
        font-weight: bold;
        transition: font-size 0.3s ease, font-weight 0.3s ease;

        &.button--scrolled {
          font-size: medium;
          font-weight: 200;
        }
      }
    }
  }

  .navbar__ghost-div {
    height: 100%;
    width: 4rem;
  }
}
