<div class="app__container">
  <!-- Navbar -->
  <div *ngIf="isScreenLarge" class="container__navbar">
    <shared-navbar></shared-navbar>
  </div>

  <div *ngIf="!isScreenLarge" class="container__sidebar">
    <shared-sidebar></shared-sidebar>
  </div>

  <!-- Nuestras Páginas -->
  <div class="container__content">
    <div class="wrapper__content">
      <router-outlet class="all-content">
        <burguer-button
          *ngIf="!isScreenLarge"
          class="burguer-button__button"
        ></burguer-button>
      </router-outlet>
    </div>
  </div>
</div>
