<div
  *ngIf="countries.length === 0; else table"
  class="alert alert-warning text-center"
>
  <p class="mb-2">There are no countries to show.</p>
  <p>The name of the country or capital should be searched in English.</p>
</div>

<ng-template #table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th><strong>#</strong></th>
        <th><strong>Flag</strong></th>
        <th><strong>Name</strong></th>
        <th><strong>Capital</strong></th>
        <th><strong>Population</strong></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index" #countryRow>
        <td>{{ i + 1 }}</td>
        <td>
          <img [src]="country.flags.svg" [alt]="country.name.common" />
        </td>
        <td>{{ country.name.common }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <a [routerLink]="['/countries/by', country.cca3]">Info</a>
        </td>
      </tr>
    </tbody>
  </table>

  <button *ngIf="showButton" class="scrollButton" (click)="scrollToTop()">
    <i class="fa-solid fa-angles-up"></i>
  </button>
</ng-template>
