<div class="capital-section__container">
  <div class="capital-title-toggle__container">
    <h2>By Capital</h2>
    <app-switch-button></app-switch-button>
  </div>

  <hr />

  <div class="capital-search__container">
    <shared-search-box
      (onDebounce)="searchByCapital($event)"
      [initialValue]="initialValue"
      placeholder="Buscar por capital"
    ></shared-search-box>
  </div>

  <div class="capital-content__container">
    <hr />
    <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
    <ng-container *ngIf="isSwitchToggled; else showTable">
      <countries-table [countries]="countries"></countries-table>
    </ng-container>
    <ng-template #showTable>
      <country-cards [countries]="countries"></country-cards>
    </ng-template>
  </div>
</div>
